/*Global styles
-------------------------------------------*/
html {
  box-sizing: border-box;
}

*. *:before,
*:after {
  box-sizing: inherit;
}

body {
  color: rgb(0, 7, 44);
  margin: 0px;
  font-family: "Cutive Mono", monospace;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}
.profile-pic {
  width: 150px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
h1 {
  font-size: 100px;
  line-height: 1;
  display: flex;
  justify-content: space-between;
}
h2 {
  font-size: 45px;
}
h1,
h2 {
  font-family: "Amita", cursive;
  font-weight: 400;
  margin: 0;
}

/*Profile
-------------------------------------------*/
header {
  background-color: #df4c73;
  color: #ffffffd3;
}
.content-wrap {
  background-color: #df4c73;
  margin: 0 auto;
  width: 960px;
  padding: 60px 0px;
}

/*Projects
-------------------------------------------*/
.projects {
  margin: 0 auto;
  background-color: #e2f0f9;
  margin: 0 auto;
  width: 960px;
  padding: 60px 0px;
}

.projects img {
  margin-right: 20px;
  padding: 25px 0;
}

.projects-content {
  background-color: #e2f0f9;
}

.projects .btn {
  padding: 8px;
  color: rgb(187, 246, 248);
  background-color: rgb(2, 140, 144);
  border-radius: 6px;
  display: inline-block;
}
.projects .btn:hover {
  color: rgba(197, 255, 60, 0.8);
}
.projects h3 {
  margin-top: 0;
}
.grid-container {
  display: grid;
  grid-template-columns: 400px 400px;
}

/*Work Experience
-------------------------------------------*/
.work-experience {
  background-color: #b0dde4;
  margin: 0 auto;
  width: 960px;
  padding: 60px 0px;
}
.work-content {
  background-color: #b0dde4;
}
.job-item{
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
}

/*Education
-------------------------------------------*/
.education {
  background-color: #286fb4;
  color: #ffffffb6;
  margin: 0 auto;
  width: 960px;
  padding: 60px 0px;
}
.education-content {
  background-color: #286fb4;
}

/*Contact Info
-------------------------------------------*/
footer {
  background-color: #ffffff;
  margin: 0 auto;
  width: 960px;
  padding: 60px 0px;
  text-align: center;
}
footer a {
  color: rgb(223, 0, 175);
  text-decoration: none;
  padding: 15px;
}
footer li {
  display: inline-block;
}
