/*Global styles
-------------------------------------------*/
body{
color:rgb(0, 7, 44);
}
img {
    width: 300px;
}





/*Profile
-------------------------------------------*/
header {
    background-color: rgb(234, 204, 246);
}






/*Work Experience
-------------------------------------------*/






/*Education
-------------------------------------------*/







/*Contact Info
-------------------------------------------*/